@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;600;700&display=swap');

body {
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
}

#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.header {
  display: flex;
  border-bottom: solid 1px rgba(0, 0, 0, 0.7);
  padding: 0.5rem;
  justify-content: space-between;
}

#headerText {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 5px;
}

.name {
  margin-top: 5px;
}

#signOut {
  text-decoration: none;
  color: red;
  border: 1px solid red;
  background-color: white;
  border-radius: 5px;
  padding: 0px 10px;
  height: auto;
}

#signOut:hover {
  color: white;
  background-color: red;
}

#sim {
  background: -webkit-linear-gradient(316deg, rgba(20, 119, 56), rgba(65, 226, 150));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-container {
  min-width: 50%;
  margin: auto auto;
  text-align: center;
}

.form-container > h1 {
  font-size: 3rem;
  font-weight: bold;
}

#signInForm {
  width: 300px;
  height: auto;
  margin: 0 auto;
  margin-top: 3rem;
}

#firstN{
  margin-top: 0.75em;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
  padding: 0.5rem;
}

#lastN {
  margin: 0.5rem 0;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
  padding: 0.5rem;
}

#firstN:focus, #lastN:focus {
  outline: none;
  border: 1px solid rgba(65, 226, 150);
  -moz-box-shadow:    0px 0px 6px 0.5px rgba(65, 226, 150);
  -webkit-box-shadow: 0px 0px 6px 0.5px rgba(65, 226, 150);
  box-shadow:         0px 0px 6px 0.5px rgba(65, 226, 150);
}

#realL{
  margin-top: 1rem;
}

#questL {
  margin-bottom: 1.5rem;
}

.gs {
  width: 50%;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 50px;
  background-color: black;
  color: white;
}

.gs:hover {
  background-color: white;
  color: black;
}

.dashboardContainer {
  display: flex;
}

.mainDashboard {
  width: 85%; 
  height: 92.77vh; 
  display: inline-block;
}

.tasksCompleted {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.15);
  width: 300px; 
  padding: 0.5rem; 
  text-align: center;
  border-bottom-right-radius: 0.5rem;
  display: inline-block;
}

.news {
  /* box-shadow: 0px 0px 17px 5px rgba(255,94,94,0.5); */
  border-radius: 0.5rem;
  margin: 0 auto;
  width: auto;
  padding: 0.3rem 1rem;
  display: inline-block;
}

.newsTitle {
  font-weight: 600;
  font-size: 1rem;
}

.news > h4 {
  margin-top: 5px;
  font-weight: 600;
}

.optionsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 65%;
  justify-content: space-around;
  padding: 0.5rem;
  margin: 0 auto;
  margin-top: 3rem;
  
}

.option {
  width: 300px;
  height: 300px;
  border-radius: 0.5rem;
  margin: 1rem 0.5rem;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
  transition: all .2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.optionContent {
  width: 75%;
  height: 50%;
  text-align: center;
}

.optionContent > h2 {
  margin-bottom: 1.5rem;
}

.option:hover {
  box-shadow: 0px 0px 10px 5px rgba(65, 226, 150, 0.5);
  cursor: pointer;
  transform: scale(1.03); 
}

.tasksContainer {
  box-shadow: -10px 0px 20px -5px rgba(0, 0, 0, 0.15);
  flex: 1; 
  height: 92.77vh; 
  display: inline-block;
}

.icon {
  font-size: 5rem;
}

footer {
  justify-self: flex-end;
  text-align: center;
}

.footer h4{
  color: rgba(0, 0, 0, 0.2);
  margin-bottom: 0.25rem;
  font-size: 0.8rem;
}
.footer2 h4{
  color: rgba(0, 0, 0, 0.2);
  font-size: 0.6rem;
  letter-spacing: 0.05rem;
}