@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;600;700&display=swap');

body {
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

table {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 10vh;
}

td {
  width: 33%;
}

.ta-center {
  text-align: center;
}

.ta-right {
  text-align: right;
}

#headerText {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 5px;
}

.name {
  margin-top: 5px;
}

#signOut {
  display: inline-block;
  text-decoration: none;
  color: rgb(255,94,94);
  border: 1px solid rgb(255,94,94);
  background-color: transparent;
  border-radius: 5px;
  padding: 5px 10px;
  height: auto;
  margin: 0 1rem;
}

#signOut:hover {
  color: white;
  background-color: rgb(255,94,94);
}

#sim {
  background: -webkit-linear-gradient(316deg, rgba(20, 119, 56), rgba(65, 226, 150));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-container {
  min-width: 50%;
  margin: auto auto;
  text-align: center;
}

.form-container > h1 {
  font-size: 3rem;
  font-weight: bold;
}

#signInForm {
  width: 300px;
  height: auto;
  margin: 0 auto;
  margin-top: 3rem;
}

.firstN-light {
  margin-top: 0.75em;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.lastN-light {
  margin: 0.5rem 0;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.firstN-light:focus, .lastN-light:focus {
  outline: none;
  border: 1px solid rgba(65, 226, 150);
  -moz-box-shadow:    0px 0px 6px 0.5px rgba(65, 226, 150);
  -webkit-box-shadow: 0px 0px 6px 0.5px rgba(65, 226, 150);
  box-shadow:         0px 0px 6px 0.5px rgba(65, 226, 150);
}

.firstN-dark {
  margin-top: 0.75em;
  border: 1px solid rgba(65, 226, 150);
  background-color: transparent;
  color: #d1cdc7;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.lastN-dark {
  margin: 0.5rem 0;
  border: 1px solid rgba(65, 226, 150);
  background-color: transparent;
  color: #d1cdc7;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.firstN-dark:focus, .lastN-dark:focus {
  outline: none;
  border: 1px solid rgba(65, 226, 150);
  -moz-box-shadow:    0px 0px 6px 0.5px rgba(65, 226, 150);
  -webkit-box-shadow: 0px 0px 6px 0.5px rgba(65, 226, 150);
  box-shadow:         0px 0px 6px 0.5px rgba(65, 226, 150);
}

#realL{
  margin-top: 1rem;
}

#questL {
  margin-bottom: 1.5rem;
}

.gs-light {
  width: 50%;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 50px;
  background-color: transparent;
  color: black;
}

.gs-light:hover {
  background-color: black;
  color: white;
}

.gs-dark {
  width: 50%;
  margin: 0 auto;
  border: 1px solid rgba(65, 226, 150);
  border-radius: 50px;
  background-color: transparent;
  color: rgba(65, 226, 150);
}

.gs-dark:hover {
  background-color: rgba(65, 226, 150);
  color: #181a1b;
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  max-width: 100vw;
  padding: 0;
  margin: 0;
}

.dashboardContainer {
  display: flex;
  height: 90vh;
}

.mainDashboard {
  max-width: 75%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.subDash {
  display: none; /*changes to inline-flex*/
  flex-direction: column;
  justify-content: center;
  width: 75%;
  height: auto;
  margin: 0 auto;
}

.subSubDash {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.tasksCompleted {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.15);
  width: 300px; 
  padding: 0.5rem; 
  text-align: center;
  border-bottom-right-radius: 0.5rem;
}

/* .news {
  box-shadow: 0px 0px 17px 5px rgba(255,94,94,0.5); 
  border-radius: 0.5rem;
  margin: 0 auto;
  width: auto;
  padding: 0.3rem 1rem;
  display: inline-block;
}

.newsTitle {
  font-weight: 600;
  font-size: 1rem;
}

.news > h4 {
  margin-top: 5px;
  font-weight: 600;
} */

.optionsContainer {
  flex: 0 1 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  height: auto;
  justify-content: center;
  align-items: center;
}

.option {
  width: 300px;
  height: 300px;
  border-radius: 0.5rem;
  margin: 1rem 1rem;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
  transition: all .2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem;
}

.optionContent {
  width: 75%;
  height: 50%;
  text-align: center;
}

.optionContent > h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.option:hover {
  box-shadow: 0px 0px 10px 5px rgba(65, 226, 150, 0.5);
  cursor: pointer;
  transform: scale(1.03); 
}

.tasksContainer {
  box-shadow: -10px 0px 20px -5px rgba(0, 0, 0, 0.15);
  flex: 1;
  display: inline-block;
  overflow-y: scroll;
}

.tasksContainer::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.taskCard {
  width: 90%;
  margin: 1rem auto;
  padding: 1rem;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.taskCard:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 5px rgba(255,94,94, 0.8);
}

.taskCard:hover > * {
  color: rgba(255,94,94, 0.8); 
}

.taskCard > p {
  display: inline;
}

.taskCard p:first-of-type{
  margin-right: 1rem;
}

.icon {
  font-size: 3rem;
}

footer {
  justify-self: flex-end;
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
}

.footer h4{
  margin-bottom: 0.25rem;
  font-size: 0.8rem;
}

.footer2 h4{
  font-size: 0.6rem;
  letter-spacing: 0.05rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgba(65, 226, 150);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgba(65, 226, 150);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media only screen and (max-width: 1350px) {
  .option {
    width: 225px;
    height: 225px;
    padding: 0;
  }
  .optionContent {
    height: auto;
  }
  .optionContent > h2 {
    font-size: 1.5rem;
  }
}